@import url(//fonts.googleapis.com/earlyaccess/hanna.css);
@font-face {
  font-family: 'GyeonggiBatang';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  background: linear-gradient(to top, #FFFFFF, #905073);
  height: auto !important;
}

body {
  letter-spacing: -0.05em !important;
  background: transparent;
  font-family: 'GyeonggiBatang', 'Hanna', 'Nanum Gothic', sans-serif;
  /* background-image: url('https://pongdongboo-site-sm-part.github.io/ponggether/resources/images/heart_with_wing_resize.png');
  -webkit-animation: snow 26s linear infinite;
  -moz-animation: snow 26s linear infinite;
  -ms-animation: snow 26s linear infinite;
  animation: snow 26s linear infinite; */
  /* background-attachment: fixed; */
  font-size: 14px;
  font-weight: 900;
}

/* @keyframes snow {
  0% {
      background-position: 0px 0px;
  }

  100% {
      background-position: 1152px 1152px;
  }
}

@-moz-keyframes snow {
  0% {
      background-position: 0px 0px;
  }

  100% {
      background-position: 1152px 1152px;
  }
}

@-webkit-keyframes snow {
  0% {
      background-position: 0px 0px;
  }

  100% {
      background-position: 1152px 1152px;
  }
}

@-ms-keyframes snow {
  0% {
      background-position: 0px 0px;
  }

  100% {
      background-position: 1152px 1152px;
  }
} */

/* 전체 쉐도우 */

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

/* 로고밑 NAV bar */

header #header-bar>.row {
  border-top: 4px solid #C0DBFF;
  border-right: none;
  border-bottom: none;
}

/* 헤더 배너 */

header .row>div:nth-child(1)>a {
  display: block;
  width: 145px;
  height: 50px;
  background: url(https://pongdongboo-site-sm-part.github.io/ponggether/resources/images/logo.png) no-repeat;
  background-size: auto 50px;
}

header .row>div:nth-child(1)>a>img {
  display: none;
  filter: grayscale(100%);
  opacity: 0.8;
}

/* 검색폼 보더 */

header #right-search-form>input[type='text'] {
  border: none;
}

/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */

#main .menu-wrapper>.header {
  background: #C0DBFF;
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  color: white;
}

.fa-square:before {
  color: #C0DBFF;
}

header #header-bar>.row,
#main .menu-wrapper,
#main #main-content>div.frame {
  border-right: none;
  border-bottom: none;
}

#main .menu-wrapper {
  border: none;
}

#main .menu-wrapper>.header {
  border-radius: 15px 15px 0 0;
}

#main .menu-wrapper a:nth-last-child(1) {
  border-radius: 0px 0px 15px 15px;
}

/* 헤더 검색 버튼 */

header #right-search-form>#right-search-btn {
  color: #C0DBFF;
}

/* 헤더 [광고]배경색 */

header #header-bar #header-top-notice strong.notice-badge {
  background: #C0DBFF;
}

/* fa색상 */

header #header-bar .fa {
  color: #C0DBFF;
}

#board-info h1 {
  padding-left: 3em;
}

#board-info h1>a {
  font-weight: 900;
}

/* 스트리머 게시판 상단 정보 프로필 이미지 위치 */

#board-info #board-info-profile-img {
  position: absolute;
  left: 2em;
  top: 1em;
  border-radius: 50px;
}

#board-info #board-info-profile-img:hover {
  transform: scale(1.5);
  transition: .20s;
}

#board-info #board-info-bottom {
  padding-left: 4em;
}

#board-info #viewers-area #viewers:before {
  content: "밍퐁의 파도에서 ";
  color: #6cadc7;
  cursor: text;
  font-weight: normal;
}

#board-info #viewers-area #viewers:after {
  content: " 명 서핑 중 ";
  color: #6cadc7;
  cursor: text;
  font-weight: normal;
}

/* 스트리머 게시판 상단 정보 글씨색상 */

#board-info #board-info-bottom a {
  color: #C0DBFF;
  font-size: inherit;
}

/* 좌측메뉴 숏컷링크 글씨 색상 */

#main .menu-wrapper>a>em {
  color: #C0DBFF;
}

/* 좌측메뉴 메뉴사이의 공간 색상 */

#main .menu-wrapper .spacer {
  background: #C0DBFF;
  height: 0.15em;
}

/* 게시글 관련부분 */
#article-list {
  background-image: url(https://pongdongboo-site-sm-part.github.io/ponggether/resources/images/article_list_background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

#article-list>.article-list-row>.item>.list-title {
  font-size: 15px;
}

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 120px !important;
}

#article-list #article-list-category {
  border-top: 2px solid #6cadc7;
  background: white;
}

#article-list #article-list-category>a {
  background: white;
  font-size: inherit;
}

#article-list>.article-list-row>.item>.list-header>span {
  background: linear-gradient(to bottom, #a17fdd, #6cadc7);
  /* background-color: #a17fdd; */
}

#article-list>.article-list-row:hover {
  -moz-animation: text1 1.2s ease-out 9ms;
  animation: text1 1.2s ease-out 9ms;
}

@-webkit-keyframes text1 {
  40% {
      opacity: 0.5;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 8px 8px #905073, 0 0 0 6px rgba(255, 255, 255, 0.5);
  }
}

@-moz-keyframes text1 {
  40% {
      opacity: 0.5;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 8px 8px #905073, 0 0 0 6px rgba(255, 255, 255, 0.5);
  }
}

@keyframes text1 {
  40% {
      opacity: 0.5;
      box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 8px 8px #905073, 0 0 0 6px rgba(255, 255, 255, 0.5);
  }
}

#article-list>.article-list-row>.item>.list-header.v0>span {
  background: none;
}

#article-list>.article-list-row>.item>.list-title>small.comment-count {
  color: #a17fdd;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
  color: #ABD2E3;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: #a17fdd;
  border-color: #a17fdd;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
  color: #a17fdd;
}

.pagination>li>a,
.pagination>li>span {
  color: #a17fdd;
}

#article-content-wrapper>.header {
  border-top: 2px solid #C0DBFF;
}

#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,
#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
  color: #a17fdd;
}

#article-info>h2 {
  font-weight: normal;
}

#article-info>h2>span.category {
  color: #6cadc7 !important;
}

#article-reply-area>.header h5 {
  color: #6cadc7;
}

#main .menu-wrapper>a {
  padding: 0.5em 1.4em 0.5em 0.7em !important;
}

a {
  color: #6cadc7;
}

span.a-badge i.fa.fa-info-circle {
  color: #6cadc7;
}

/* footer */

#article-list>.article-list-row {
  border-right: none;
  background-color: #FFFFFF88;
}

#article-list #article-list-menu {
  box-sizing: border-box;
  width: unset;
  margin: 20px;
}

#article-list #boardSearchForm {
  padding-bottom: 20px;
  height: unset;
}

.btn-primary {
  background: #ABD2E3 !important;
  border: none !important;
}

#article-list #article-list-menu>.btn.best {
  color: #ABD2E3 !important;
  border-color: #ABD2E3 !important;
}

.btn-outline-primary {
  color: #a17fdd !important;
  background-color: transparent;
  border-color: #a17fdd !important;
}

.btn-outline-primary:hover {
  color: #FFFFFF !important;
  border-color: #FFFFFF !important;
  background-color: #a17fdd !important;
}

.btn-outline-success {
  color: #C0DBFF;
  border-color: #C0DBFF;
}

.btn-outline-success:hover {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #C0DBFF;
}

/* 광고 라인 드롭다운 시작 */
.dropdown.open .dropdown-menu, .input-group-btn.open .dropdown-menu {
  opacity: unset;
  transform: unset;
  border: 2px dashed #ffffff;
  border-top: 1px dashed #C0DBFF !important;
  border: 1px dashed #C0DBFF;
  box-shadow: 0 0 0 4px #fff;
}

.dropdown .dropdown-menu, .input-group-btn .dropdown-menu {
  display: block !important;
  opacity: 0;
  transform: scale(0);
  transform-origin: top;
  transition: all 0.4s cubic-bezier(0.18, 1.5, 0, 1);
  padding: 8px 0 3px 0px;
}

.dropdown-menu>li>a {
  transition: 0.1s;
  font-weight: 900;
}

.dropdown-menu>li>a:hover {
  background: transparent;
  transform: scaleX(1.04);
  transition: 0.1s;
}

#latestDropdownMenu>li>a>span.delrow, #favoriteDropdownMenu>li>a>span.delrow {
  color: #C0DBFF;
}

#latestDropdownMenu>li>a>span.delrow:hover, #favoriteDropdownMenu>li>a>span.delrow:hover {
  background: transparent;
}

#favoriteDropdownMenu>li>a>span.label.label-default {
  background-color: #C0DBFF;
}

.dropdown-menu .divider {
  background-color: #C0DBFF;
  height: 2px;
  margin: 3px 0;
}

#movetotop img {
  display: none
}

#movetotop {
  display: inline-block;
  opacity: 1;
  background: url(https://pongdongboo-site-sm-part.github.io/ponggether/resources/images/top_btn.png);
  width: 150px;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}

html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt
 {
 cursor: url(https://pongdongboo-site-sm-part.github.io/ponggether/resources/images/cute_link.cur) 0 0, auto !important;
}



#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
 cursor: url(https://pongdongboo-site-sm-part.github.io/ponggether/resources/images/cute_link.cur) 0 0, auto !important;
}




span#viewers,
#article-list #boardSearchForm .form-control,
.fr-view,
.fr-box.fr-basic.fr-element,
input[type='text'] {
  cursor: url(https://pongdongboo-site-sm-part.github.io/ponggether/resources/images/cute_link.cur) 0 0, auto !important;
  font-weight: 900;
}

/* footer */
footer a {
  color: #000 !important;
}